# Скомпилированный код (бинарники)
[Bb]in/
[Ob]j/

# Папка настроек Visual Studio
.vs/

# Пользовательские настройки проекта
*.user
*.userosscache
*.sln.docstates

# Файлы логов и временные файлы
*.log
*.tmp

# Конфиги с секретами (в идеале, но раз вы с другом — пока оставь)
# appsettings.Development.json


